@{
    ViewData["Title"] = "Manager Dashboard";
}

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card bg-primary text-white">
            <div class="card-body">
                <h5 class="card-title">Total Employees</h5>
                <h2 class="card-text">@ViewBag.TotalEmployees</h2>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 mb-4">
        <div class="card">
            <div class="card-header">
                <h5>Recent Activities</h5>
            </div>
            <div class="card-body">
                <ul class="list-group">
                    <li class="list-group-item">Employee John Doe joined on Jan 15, 2023</li>
                    <li class="list-group-item">Employee Jane Smith promoted to Senior Developer</li>
                    <li class="list-group-item">New project "HR System Upgrade" assigned to your team</li>
                    <li class="list-group-item">Quarterly performance reviews scheduled for next week</li>
                </ul>
            </div>
        </div>
    </div>
</div>